{{define "Note"}}
{{range $i, $note := .Notes}}
<div class="carousel-item{{if eq $i 0}} active{{end}} ">
    <div class="note-container text-center mx-auto">
        <div class="note-id">{{.Id}}</div>
        <div class="note-title">{{.Title}}</div>
        <div class="note-text">{{.Text}}</div>
        <div class="note-date">Дата создания: {{.Date}}</div>

        <!-- Ползунок переключателя (toggle switch) -->
        <div class="d-flex flex-column justify-content-center align-items-center form-check form-switch">

            <label id="{{$i}}" for="toggleSwitch{{$i}}">Выполнено</label>
            <input data-done="{{.Done}}" class="form-check-input" type="checkbox" id="toggleSwitch{{$i}}">

        </div>


    </div>
</div>

<script>
    // Обработчик события изменения состояния переключателя
    document.addEventListener("DOMContentLoaded", function() {
        let notesDone = document.getElementById("toggleSwitch{{$i}}")
        let doneLabel = document.getElementById("{{$i}}");

        if (notesDone.dataset.done === "false") {
            notesDone.checked = false
            doneLabel.style.display = "none";
        } else notesDone.checked = true;
    })

    document.getElementById("toggleSwitch{{$i}}").addEventListener("change", function() {
        // Получаем элемент с надписью "Выполнено"
        let doneLabel = document.getElementById("{{$i}}");
        // Отображение меняется в зависимости от состояния переключателя
        doneLabel.style.display = this.checked ? "block" : "none";
    });
</script>

{{end}}
{{end}}
